<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <% if @user.id == session[:user_id]%>
    <div style = "display:flex">
      <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary", style: "margin:10px;" %>
      <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger", style: "margin:10px;"  %>
    </div>
  <%end%>
  <%= link_to "See all users", users_path, class: "btn btn-primary" , style: "margin:10px;" %>  
</div>
